<div class="card">
  <div class="card-header">
    <h1>
      Hello <%= @user.email %>
    </h1>
  </div>
  <div class="card-body">
    <p>
      <i>This message is to notify that you've started a journey with us!
        Hope You enjoy your journey</i>
    </p>
  </div>
</div>